body {
    background-color: #262626;
    align-items: center;
}

canvas {
    border: solid 1px #fff;
    border-left: none;
    border-right: none;
    image-rendering: pixelated;
}

.pressStartFont {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#footer {   
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
 }