body {
    background-color: #262626;
    align-items: center;
    text-align: center;
}

ul {
    display: inline-block
}

canvas {
    border: solid 1px #fff;
    border-left: none;
    border-right: none;
    image-rendering: pixelated;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pressStartFont {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#footer {   
    position:fixed;
    left:10px;
    bottom:0px;
    height:30px;
    width:100%;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}

#instructions {
    font-size: small;
    text-align: left;
}

.center_me {
    margin:  0 auto
}